* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: green;
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

/*Barra de Menu*/
header {
     position: fixed;
     width: 100%;
     left: 0;
     top: 0;
     z-index: 1;
     border-right: none;
     background: transparent;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.container {
    color: black;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}
.logo {
    width: 8rem;
    margin-right: 50px;
}

.bar__menu{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 120px;
}

.bar__link {
    position: relative;
}

.bar__link::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.bar__link:hover::after {
    width: 100%;
}

.burger {
    display: none;
    cursor: pointer;
}

.bar__burger {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .burger.active .bar__burger:nth-child(2) {
        opacity: 0;
    }

    .burger.active .bar__burger:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .bar__burger:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .bar__menu  {
        position: fixed;
        left: 100%;
        top: 85px;
        gap: 0;
        
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        margin-right: 0;
    }

    .bar__item {
        margin: 10px 0;
    }

    .bar__menu.active {
        left: -120px;
    }
    
}
/*Barra de Menu*/

/*Conteudo Da Página*/
.posicionamento {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: -37%;
    margin-right: 60%;
}

.formulario {
    padding: 40px;
    border-radius: 20px;
    border: 8px solid #82bd25;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35); 
}

.formulario .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.formulario .form.signin {
    display: none;
}

.formulario.signinForm .form.signin {
    display: flex;
}

.formulario .form h1 {
    font-size: 30px;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.formulario .form .inputCaixa {
    position: relative;
    width: 300px;
}

.formulario .form .inputCaixa input {
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100%;
    background: #82bd25;
    border-radius: 1px solid rgba(0,0,0,0.1);
    color: #000;
    font-weight: 300;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgba(0,0,0,0.1), 5px 5px 15px rgba(0,0,0,0.35);
    transition: 0.5s;
    outline: none;
}

.formulario .form .inputCaixa span {
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events: none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: rgba(255,255,255,0.5);
}

.formulario .form .inputCaixa input:valid ~ span,
.formulario .form .inputCaixa input:focus ~ span{
    color: #01301c;
    transform: translateX(25px) translateY(-1px);
    font-size: 0.6em;
    padding: 0 5px;
} 
.formulario .form .inputCaixa i {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 25px;
    padding: 2px 0;
    padding-right: 8px; 
    color: #01301c;
    border-right: 1px solid #01301c;
}

.formulario .form .inputCaixa input[type="submit"] {
    background: #6a9f25;
    color: #000;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    border-radius: 1px solid rgba(0,0,0,0.1);
    box-shadow: -5px -5px 15px rgba(0,0,0,0.1), 5px 5px 15px rgba(0,0,0,0.35);
}

.formulario .form p {
    color: #000;
    font-size: 0.75em;
    font-weight: 300;
}

.formulario .form p a {
    font-weight: 500;
    color: #fff;
}

.imagem {
    margin-left: 69%;
    height: 400px;
    border-radius: 180%;
    background: #000;
}
/*Conteudo Da Página*/